= content_for :page_title do
  %h3
    = "Your projects"
    .pull-right
      = link_to project_wizard_path(:add_project) do
        %button.btn.btn-icon.btn-info.mb-5.w-md
          %i.fa.fa-plus.m-r-5
          Add project

- if @projects.empty?
  .panel.panel-default
    .panel-heading
      %h3
        = "You haven't added any projects yet."
        = link_to "Add a project", project_wizard_path(:add_project),
          class: 'btn btn-primary m-l-10'

- @projects.each do |project|
  .panel.panel-default
    .panel-heading
      %h4
        = link_to project_path(project) do
          %i.fa.fa-caret-down.m-r-5
          = project.repository_name
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          - if project.tracked_branches.empty?
            %i.small-margin
              You haven't added any branches to this project yet.
              = link_to 'Add a branch',
                project_wizard_path(:add_branch,
                repo_id: project.owner_and_name),
                class: 'btn btn-primary m-l-10'
          - else
            %table.table.table-responsive
              %thead
                %tr
                  %th
                    .pull-left
                      Branches
                  %th
                  %th
                    -# TODO: make this work properly
                    .pull-right
                      = link_to '', class: 'body-grey' do
                        %i.fa.fa-plus-circle.m-r-5
                        Add branch
              %tbody
                - project.tracked_branches.each do |branch|
                  %tr
                    %td.col-md-4
                      = link_to branch.branch_name,
                        project_branch_test_runs_path(branch.project, branch)
                    %td.col-md-4
                      %span{class: branch.status.try(:css_class)}
                        = branch.status.try(:text)
                    %td.col-md-4
                      = branch.last_run.try(:completed_at) || 'No available runs yet'
